<%= form_for [@attendee] do |f| %>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
      <% @attendee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <strong>First Name:</strong>
  <%= f.text_field :first_name %><br />

  <strong>Last Name:</strong>
  <%= f.text_field :last_name %><br />

  <strong>Contact No:</strong>
  <%= f.text_field :contact_no %><br />

  <strong>Email:</strong>
  <%= f.text_field :email %><br />

  <strong>Age:</strong>
  <%= f.text_field :age %><br />

  <strong>Photo URL:</strong>
  <%= f.text_field :photo_url %><br />

  <strong>Category:</strong>
  <%= f.text_field :category %><br />

  <strong>Group:</strong>
  <%= f.text_field :group %><br />

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Back to Attendees', attendees_path, class: "btn btn-default" %>
  </div>
<% end %>