<p id="notice"><%= notice %></p>

<h1>Attendees</h1>

<table class="table" data-classes="table-no-bordered" data-toggle="table" data-search="true">
  <thead>
    <tr>
      <th data-sortable="true">First Name</th>
      <th data-sortable="true">Last Name</th>
      <th data-sortable="true">Age</th>
      <th data-sortable="true">Category</th>
      <th data-sortable="true">Group</th>
      <th data-sortable="true">Visits</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.first_name %></td>
        <td><%= attendee.last_name %></td>
        <td><%= attendee.age %></td>
        <td><%= attendee.category.capitalize %></td>
        <td><%= attendee.group %></td>
        <td><%= attendee.attendances_count %></td>
        <td>
          <%= link_to attendee_path(attendee) do %>
            <i style="font-size:1.5em;" class="glyphicon glyphicon-eye-open" title="View"></i>
          <% end %>
          <%= link_to edit_attendee_path(attendee) do %>
            <i style="font-size:1.5em;" class="glyphicon glyphicon-edit" title="Edit"></i>
          <% end %>
          <%= link_to attendee_path(attendee), method: :delete, data: { confirm: 'Confirm DELETE?' } do %>
            <i style="font-size:1.5em;" class="glyphicon glyphicon-trash" title="Delete"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'Add Attendee', new_attendee_path, class: "btn btn-primary" %>
<%= link_to 'Back to Dashboard', root_path, class: "btn btn-default" %>