<p id="notice"><%= notice %></p>

<h1>Attendees</h1>

<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Contact No.</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Category</th>
      <th>Group</th>
      <th>Remark</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.first_name %></td>
        <td><%= attendee.last_name %></td>
        <td><%= attendee.contact_no %></td>
        <td><%= attendee.email %></td>
        <td><%= attendee.gender %></td>
        <td><%= attendee.category %></td>
        <td><%= attendee.group %></td>
        <td><%= attendee.remark %></td>
        <td>
          <%= link_to 'View', attendee_path(attendee) %>
          <%= link_to 'Edit', edit_attendee_path(attendee) %>
          <%= link_to 'Delete', attendee_path(attendee), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Attendee', new_attendee_path, class: "btn btn-primary" %>
<%= link_to 'Back to Dashboard', root_path, class: "btn btn-default" %>