<table class="table new-attendees">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Category</th>
      <th>Group</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% new_attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.name %></td>
        <td><%= attendee.age %></td>
        <td><%= attendee.category.capitalize %></td>
        <td><%= attendee.group %></td>
        <td>
        <%= link_to event_attendances_path(event.id, attendee_id: attendee.id), class: "btn btn-success", method: :post, remote: true do %>
          <i class="glyphicon glyphicon-plus" title="Delete"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>