<table class="table attendees">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Contact No.</th>
      <th>Age</th>
      <th>Category</th>
      <th>Group</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @event.attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.first_name %></td>
        <td><%= attendee.last_name %></td>
        <td><%= attendee.contact_no %></td>
        <td><%= attendee.age %></td>
        <td><%= attendee.category %></td>
        <td><%= attendee.group %></td>
        <td>
          <%= link_to 'Remove', event_attendance_path(@event, Attendance.find_attendance(@event.id, attendee.id)), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>