<div id="attendees" class="transitions-enabled">
  <% Attendee.all.each do |attendee| %>
    <%= link_to toggle_attendee_event_path(@event, attendee_id: attendee.id), method: :put, remote: true do %>
      <div id="attendee_<%= attendee.id %>" class="box panel panel-default <%= 'selected' if Attendance.exists?(event_id: @event.id, attendee_id: attendee.id) %>">
        <%= image_tag attendee.image.url(:thumb) %>
        <div class="panel-body">
          <%= attendee.name %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>