<p id="notice"><%= notice %></p>

<div class="row" >
  <div class="col-sm-2"><label for="date"><b>Event Date:</b></label></div>
  <div class="col-sm-10"><%= @event.date %></div>
</div>

<div class="row" >
  <div class="col-sm-2"><label for="category"><b>Event Type:</b></label></div>
  <div class="col-sm-10"><%= @event.category.capitalize %></div>
</div>

<div class="row" >
  <div class="col-sm-2"><label for="venue"><b>Venue:</b></label></div>
  <div class="col-sm-10"><%= @event.venue %></div>
</div>

<div class="row" >
  <div class="col-sm-2"><label for="total"><b>Total Present:</b></label></div>
  <div class="col-sm-10"><%= @event.attendances.count %></div>
</div>

</br>

<div class="actions">
    <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-info" %>
    <%= link_to 'Delete', event_path(@event), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Reports', event_reports_path(@event), class: "btn btn-warning" %>
    <%= link_to 'Back to Events', events_path, class: "btn btn-default" %>
</div>

<h3>Add Attendees</h3>

<div class="dropdown">
  Filter By 
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownAttendeeGrp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Group
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownAttendeeGrp">
    <% Attendee::GROUP.each do |group| %>
      <li><%= link_to group[0], filter_attendees_event_path(@event, group: group[1]), remote:true %></li>
    <% end %>
  </ul></br></br>
</div>

<%= render "events/add_attendees", event: @event, new_attendees: @new_attendees %>

<h3>Present</h3>

<%= render "events/attendees", event: @event %>
