<p id="notice"><%= notice %></p>

<div class="row" >
  <div class="col-sm-2"><label for="date"><b>Event Date:</b></label></div>
  <div class="col-sm-10"><%= @event.date %></div>
</div>

<div class="row" >
  <div class="col-sm-2"><label for="category"><b>Event Type:</b></label></div>
  <div class="col-sm-10"><%= @event.category.capitalize %></div>
</div>

<div class="row" >
  <div class="col-sm-2"><label for="venue"><b>Venue:</b></label></div>
  <div class="col-sm-10"><%= @event.venue %></div>
</div>

<div class="row" >
  <div class="col-sm-2"><label for="total_present"><b>Total Present:</b></label></div>
  <div class="col-sm-10"><%= @event.attendances.count %></div>
</div>

<div class="row" >
  <div class="col-sm-2"><label for="total_reports"><b>Total Reports:</b></label></div>
  <div class="col-sm-10"><%= @event.reports.count %></div>
</div>

<div class="row" >
  <div class="col-sm-2"><label for="total_visitors"><b>Newcomers:</b></label></div>
  <div class="col-sm-10"><%= Attendee.first_timers(@event).count %></div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact No.</th>
      <th>Category</th>
      <th>eGroup</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% Attendee.first_timers(@event).each do |visitor| %>
      <tr>
        <td><%= visitor.name %></td>
        <td><%= visitor.contact_no %></td>
        <td><%= visitor.category.capitalize %></td>
        <td><%= visitor.group %></td>
        <td>
          <%= link_to attendee_path(visitor) do %>
            <i style="font-size:1.5em;" class="glyphicon glyphicon-eye-open" title="View"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Events', events_path, class: "btn btn-default" %>