<p id="notice"><%= notice %></p>

<div class="row" >
  <div class="col-sm-2"><label for="author"><b>Author:</b></label></div>
  <div class="col-sm-10"><%= @report.author %></div>
</div>

<div class="row" >
  <div class="col-sm-2"><label for="group"><b>Group:</b></label></div>
  <div class="col-sm-10"><%= @report.group %></div>
</div>

<div class="row" >
  <div class="col-sm-2"><label for="remark"><b>Remark:</b></label></div>
  <div class="col-sm-10"><%= @report.remark %></div>
</div>

<h3>Present</h3>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @event.attendees.group_by(@report.group).each do |attendee| %>
      <tr>
        <td><%= attendee.name %></td>
        <td><%= attendee.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Absent</h3>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% Attendee.not_present(@event).group_by(@report.group).each do |attendee| %>
      <tr>
        <td><%= attendee.name %></td>
        <td><%= attendee.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>
<div class="actions">
    <%= link_to 'Edit', edit_event_report_path(@event, @report), class: "btn btn-info" %>
    <%= link_to 'Delete', event_report_path(@event, @report), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Back to Reports', event_reports_path(@event), class: "btn btn-default" %>
</div>